<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bmjgroup.onexamination" version="1.7.3" versionCode="12" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BMJ OnExam</name>
    <description>
	Test your medical knowledge with quality, exam format revision questions from onExamination. We have provided medical revision since 1996 and have helped over 167,000 medical professionals revise for their exams.

You can choose to revise with or without a data connection, enabling you to answer questions both on and offline. Fit in your revision when you are on the ward, travelling or just away from your laptop or computer.

There is a selection of free questions available for you to try on your phone or tablet as a sample of what we offer. Simply select the resource you want from the drop down menu and try our medical questions for free. 

Our clinically rich case problems test your knowledge across a range of relevant topics and question formats. Our app is available on a range of our revision resources including: MRCP Part 1, MRCP Part 2 written, MRCGP, GPST, Medical Student Finals, Situational Judgement Test for Medical Students, Medical Student Years 2-3, Medical Student Year 1, MRCOG Part 1, MRCOG Part 2, DRCOG, MRCPCH Part 1A&amp;B, MRCPCH Part 2, MRCS Part A Papers 1&amp;2, FRCS General Surgery, PLAB, FRCA Primary and many more.

Choose to revise with either Work Smart - which allows you to answer questions by topic, level of difficulty or key word; or Work Hard - which delivers revision questions to you in a random order to fully prepare you for exam day. 

Check your scores at the end of each session to see how well you performed.

If you are a current onExamination subscriber you will be able to download further questions while online, to revise with when you wish. You do not need a data connection once the questions have been downloaded to your device. All scores will be synchronised back to your account when you are back online.
    </description>
    <author email="support@onexamination.com" href="http://www.onexamination.com/mobile/">
        BMJ Group Web Site
    </author>
	
    <gap:platform name="ios">
        <feature name="GAPlugin">
            <param name="ios-package" value="com.adobe.plugins.GAPlugin" />
        </feature>  
    </gap:platform>
    <gap:platform name="android">
        <feature name="GAPlugin">
            <param name="android-package" value="com.adobe.plugins.GAPlugin" />
        </feature>  
    </gap:platform>
    <gap:platform name="winphone" />

	<gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" />	
	<gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon@2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait@2x.png" width="640" />
	<gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="2048" src="res/screen/ios/screen-ipad-portrait@2x.png" width="1536" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />	
    <preference name="android-minSdkVersion" value="8" />
    <preference name="android-targetSdkVersion" value="17" />
    <preference name="android-installLocation" value="auto" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />
    <preference name="webviewbounce" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name='windows-target-version' value='8.1' />
    <icon src="icon.png" />
    <access origin="*" />    
    <content src="index.html" />
</widget>
