<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
    <title>Locum Matcher</title>
	<meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <!-- Custom theme version -->
    
    <link rel="stylesheet" href="css/jquery.mobile.structure-1.2.0.min.css" />
    <link rel="stylesheet" href="css/oe-custom.css" />
    
    <link rel="stylesheet" type="text/css" href="css/swipe.css">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
	
	
    <!-- Page Templates ========================================================================= -->

	<!-- Home -->
    <script type="text/template" id="HomeTemplate">
	<div data-role="header" class="home">
	    <span class="logo">
	    	<img src="img/logo.png" />
	    </span>
	</div>
	
	<div data-role="content" class="home">
	    <div class="buttonsWrapper">
			<fieldset data-role="controlgroup"  class="continueButton">
                <a href="#Login" data-role="button" data-theme="e" style="<%= buttonStyle %>">Sign In Or Register</a>
			</fieldset>
			<fieldset data-role="controlgroup" class="optionButtons">
                <a href="#<%= searchPath %>" data-role="button" data-icon="arrow-r" data-iconpos="left" data-theme="e">Search</a>
                <a href="#Matcher" data-role="button" data-icon="alert" data-iconpos="left" data-theme="e">Matcher</a>
			    <a href="#Profile" data-role="button" data-icon="gear" data-iconpos="left" data-theme="e">My Profile</a>
			    <a href="#GettingStarted" data-role="button" data-icon="info" data-iconpos="left" data-theme="e">Getting Start</a>
			</fieldset>
	    </div>
	    <div class="mainImage">
			<span>
				<img src="img/StudentsLg.jpg" />
			</span>
	    </div>
	    <div class="webLink">
			<a onclick="window.open('', '_system');">Find out more about Locum.</a>  	
	    </div>
		<div id="mainmenu"></div>
	</div>
    </script>

    <!-- Matcher -->
    <script type="text/template" id="MatcherTemplate">
        <div data-role="header">
            <a href="#" class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>Matcher</h1>
        </div>
        <div data-role="content" class="questionPage ui-content">

            <div id="container" class="question">
                <table class="alphaList">
                    <tbody>
                        <tr>
                            <th>Name </th>
                            <th>Tel </th>
                        </tr>
						
						<% if( usertype == 'doctor') {  %>
							<tr>
								<td>Birmingham Womens Hospital</td>
								<td>0121 472 1377</td>
							</tr>
						<% } else {%>
							<tr>
								<td>Ravinder Gill</td>
								<td>07712096515</td>
							</tr>
						<% }%>
                    </tbody>
                </table>
            </div>
            <br />

            <button id="viewSavedList" data-theme="e" data-icon="alert">Send Email</button>

            <div class="clear"></div>
            <div class="webLink">
                <a onclick="window.open('', '_system');">Find out more about Locum.</a>
            </div>
        </div>

    </script>
	
    <!-- Profile -->
    <script type="text/template" id="ProfileTemplate">
        <div data-role="header">
            <a href='#' class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>My Profile</h1>
        </div>

        <div data-role="content" class="settings">

            <h1 class="pageHeading">Account</h1>
            <div class="ui-hide-label">
                <fieldset data-role="controlgroup">
                    <label for="email">User name</label>
                    <input id="email" placeholder="User name" value="<%= email %>"  class="marginBottom" />
                    <label for="password">Password</label>
                    <input id="password" placeholder="change password" value="" type="password" />
                </fieldset>

            </div>

            <fieldset data-role="controlgroup">
                <h1 class="pageHeading">Professional</h1>
                <label for="speciality">Speciality</label>
                <select name="speciality" data-theme="e" id="speciality">
                    <option value="Cardiology">
                        Cardiology
                    </option>
                    <option value="Respiratory">
                        Respiratory
                    </option>
                    <option value="Accident Emergency">
                        Accident Emergency
                    </option>
                </select>
                <select name="grade" data-theme="e" id="grade">
                    <option value="Foundation Year 2">
                        Foundation Year 2
                    </option>
                    <option value="Registrar">
                        Registrar
                    </option>
                    <option value="Consultant">
                        Consultant
                    </option>
                </select>
            </fieldset>


            <div class="">
                <h4></h4>
                <button id="save" data-theme="e" data-icon="alert">Save</button>
            </div>
            <br />
            <div class="hr"><hr /></div>
            <div class="appInfo">
            </div>

            <br /><br />

            <div class="webLink">
                <a onclick="window.open('', '_system');">Find out more about Locum.</a>
            </div>

        </div>
    </script>

    <!-- Getting Started -->
    <script type="text/template" id="GettingStartedTemplate">
        <div data-role="header">
            <a href='#' class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>About us</h1>
        </div>
        <div data-role="content" class="gettingStarted">
        </div>
    </script>

    <!-- Login -->
    <script type="text/template" id="LoginTemplate">
        <div data-role="header">

            <h1>Sign In Locum Matcher</h1>
        </div>
        <div data-role="content" class="login">
            <h1 class="pageHeading">Sign in to your account:</h1>
            <div class="ui-hide-label">
                <fieldset data-role="controlgroup">
                    <label for="email">User name</label>
                    <input id="email" placeholder="User name" value="" type="email" class="marginBottom" />
                    <label for="password">Password</label>
                    <input id="password" placeholder="password" value="" type="password" />
                </fieldset>

                <button id="login-button" data-theme="e" data-icon="arrow-r">Sign In</button>
            </div>

            <div class="hr"><hr /></div>


            <div style="<%= registerStyle %>">
                <div>
                    <p class="pageHeading">Don&#39;t have a Locum account?</p>
                </div>
                <fieldset data-role="controlgroup">
                    <a href='#Register' data-role="button" data-theme="e">Register now</a>
                </fieldset>
            </div>
            <br />
            <div class="clear"></div>
            <div class="webLink">
                <a onclick="window.open('', '_system');">Find out more about Locum.</a>
            </div>
        </div>
    </script>

    <!-- search For Hospital View -->
    <script type="text/template" id="SearchForHospitalTemplate">
        <div data-role="header">
            <a href="#" class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>Locum Search</h1>
        </div>
        <div data-role="content">
            <div data-role="fieldcontain">
                <h1 class="pageHeading">Looking for hospitals</h1>
                <div class="ui-hide-label">
                    <fieldset data-role="controlgroup">
                        <label for="grades">questionLimit</label>
                        <select name="grades" data-theme="e" id="grades">
                            <option value="ALL">All Grades</option>
                            <% _(grades).each(function(grade) { %>
                            <option value="<%= grade.id %>"><%= grade.fullName %></option>
                            <% }); %>
                        </select>

                        <label for="speciality">Speciality</label>
                        <select name="speciality" data-theme="e" id="speciality">
                                <option value="ALL">All Specialities</option>    
                                <% _(specialities).each(function(speciality) { %>
                                <option value="<%= speciality.id %>"><%= speciality.fullName %></option>
                                <% }); %>
                        </select>
                        <div id="locationSliderGroup" style="">
                            <div class="sliderWrapper">
                                <span class="diffEasy">10 miles</span><span class="diffHard">50 miles</span>
                                <input type="range" name="slider" data-theme="e" data-track-theme="a" id="locationRange" value="20" min="10" max="50" data-highlight="true" class="ui-hidden-accessible diffSlider" 
                                       onchange="" />
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <button id="searchHospital" data-theme="e" data-icon="arrow-r">
                        Search
                    </button>
                </div>
                <br />
            </div>
            <div class="clear"></div>
            <div class="webLink">
                <a onclick="window.open('', '_system');">Find out more about Locum.</a>
            </div>
        </div>

    </script>


    <!-- search Hospital Result View -->
    <script type="text/template" id="SearchHospitalResultTemplate">
        <div data-role="header">
            <a href="#" class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>Locum Search Results</h1>
        </div>
        <div data-role="content">
            <div data-role="fieldcontain" class="ui-body">
                <% _(searchedResult).each(function(searchRow, index) { %>
                <div class="buddy" <% if (index == showUserIndex){ %> style="display: block;" <% } %> >
                    
                    <div class="avatar" style="display:block; background-color:#fff; height:300px; background-image: url('<%=searchRow.url%>');">

                        <div data-role="content" style="padding-top:170px;">
                            <h1 class="questionHeading"><br></h1>                       
                            <div class="search-results-user-info">
                                <div class="column-left">
                                    <p>Grade:</p>
                                    <p>Specialty:</p>
                                    <p>Telephone:</p>
                                </div>
                                <div class="column-right">
                                    <p><%=searchRow.grade%></p>
                                    <p><%=searchRow.specialty%></p>
                                    <p><%=searchRow.tel%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
                <br />
            </div>

        </div>
        <div class="clear"></div>
        <div class="webLink">
            <a onclick="window.open('', '_system');">Find out more about Locum.</a>
        </div>

    </script>

    <!-- search For Doctor View -->
    <script type="text/template" id="SearchForDoctorTemplate">
        <div data-role="header">
            <a href="#" class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>Locum Search</h1>
        </div>
        <div data-role="content">
            <div data-role="fieldcontain">
                <h1 class="pageHeading">Looking for doctors</h1>
                <div class="ui-hide-label">
                    <fieldset data-role="controlgroup">
                        <label for="grades">questionLimit</label>
                        <select name="grades" data-theme="e" id="grades">
                            <option value="ALL">All Grades</option>
                            <% _(grades).each(function(grade) { %>
                            <option value="<%= grade.id %>"><%= grade.fullName %></option>
                            <% }); %>
                        </select>

                        <label for="speciality">Speciality</label>
                        <select name="speciality" data-theme="e" id="speciality">
                            <option value="ALL">All Specialities</option>
                            <% _(specialities).each(function(speciality) { %>
                            <option value="<%= speciality.id %>"><%= speciality.fullName %></option>
                            <% }); %>
                        </select>
                        <div id="locationSliderGroup" style="">
                            <div class="sliderWrapper">
                                <span class="diffEasy">10 miles</span><span class="diffHard">50 miles</span>
                                <input type="range" name="slider" data-theme="e" data-track-theme="a" id="locationRange" value="20" min="10" max="50" data-highlight="true" class="ui-hidden-accessible diffSlider"
                                       onchange="" />
                            </div>
                        </div>
                    </fieldset>
                    <br />
                    <button id="searchDoctor" data-theme="e" data-icon="arrow-r">
                        Search
                    </button>
                </div>
                <br />
            </div>
            <div class="clear"></div>
            <div class="webLink">
                <a onclick="window.open('', '_system');">Find out more about Locum.</a>
            </div>
        </div>

    </script>


    <!-- search Doctor Result View -->
    <script type="text/template" id="SearchDoctorResultTemplate">
        <div data-role="header">
            <a href="#" class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>Locum Search Results</h1>
        </div>
        <div data-role="content">
            <div data-role="fieldcontain" class="ui-body">
                <% _(searchedResult).each(function(searchRow, index) { %>
                <div class="buddy" <% if (index == showUserIndex){ %> style="display: block;" <% } %> >
                    
                    <div class="avatar" style="display:block; background-color:#fff; height:300px; background-image: url('<%=searchRow.url%>');">

                        <div data-role="content" style="padding-top:170px;">
                            <h1 class="questionHeading"><br></h1>                       
                            <div class="search-results-user-info">
                                <div class="column-left">
                                    <p>Grade:</p>
                                    <p>Specialty:</p>
                                    <p>Telephone:</p>
                                </div>
                                <div class="column-right">
                                    <p><%=searchRow.grade%></p>
                                    <p><%=searchRow.specialty%></p>
                                    <p><%=searchRow.tel%></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
                <br />
                
            </div>

        </div>
        <div class="clear"></div>
        <div class="webLink">
            <a onclick="window.open('', '_system');">Find out more about Locum.</a>
        </div>

    </script>

    <!-- saved List View -->
    <script type="text/template" id="SavedListTemplate">
        <div data-role="header">
            <a href="#" class="homeButton" data-role="button" data-icon="home" data-mini="true">Home</a>
            <h1>Saved Search Result</h1>
        </div>
        <div data-role="content" class="questionPage ui-content">

                <div id="container" class="question">
                    <table class="alphaList">
                        <tbody>
                            <tr>
                                <th>Name </th>
                                <th>Tel </th>
                            </tr>
                            <% _(savedResult).each(function(savedRow, index) { %>
                            <tr>
                                <td><%=savedRow.name %></td>
                                <td><%=savedRow.tel %> </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
				<button id="viewMatcher" data-theme="e" data-icon="alert">View Matcher</button>
                <br />
            <div class="clear"></div>
            <div class="webLink">
                <a onclick="window.open('', '_system');">Find out more about Locum.</a>
            </div>
        </div>

    </script>
		
	 
    <!-- Scripts -->
    <script src="lib/json2.js"></script>
    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="lib/jquery.mobile-1.2.0.min.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="http://backbonejs.org/backbone.js"></script>    
    <script src="lib/jquery.imagesloaded.min.js" type="text/javascript"></script>	
	
    <script language="javascript" type="text/javascript" src="lib/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="lib/jquery.flot.pie.js"></script>	

	<script src="js/imageLib.js"></script>
    <script src="js/models.js"></script>
    <script src="js/demoQuestions.js"></script>
    <script src="js/main.js"></script>
    <script src="js/views.js"></script>
    <script src="js/routes.js"></script>


    
   
    <script type="text/javascript">	
        var analytics;       	
		var app;
		
		function onDeviceReady() {						
			app = new AppRouter();
			Backbone.history.start();
			
			appLib.log('On Device Ready');
			
			//## Android: Return to home screen if back button is pressed, if already on home screen then exit app
			document.addEventListener("backbutton", function() { 
				if(appLib.isUIMasked())
					return;
				
				if($('#mainmenu').length > 0) {
					//## Exit app
					appLib.log('Exiting app...');
					setTimeout(function() { navigator.app.exitApp(); });
				} else {
				    //## Return to homepage
				    
					appLib.log('Return to homepage');
					app.trigger('Login');
				}
			}, false);
			//## Android: Return to home screen if menu button is pressed
			document.addEventListener("menubutton", function() { 
				if(!appLib.isUIMasked())
				    app.trigger('Login');
			}, false);	

			
			//## Attempt to setup GA tracker
			try {
				analytics = window.plugins.gaPlugin;											
				analytics.init(function() { appLib.log('ga success'); }, function() { appLib.log('ga fail'); }, "UA-140972-23", 10);
			} catch(err) {
				appLib.log(err);				
			}
		}

		function swipe() {
            
		    $(".buddy").on("swiperight", function () {
		        $(this).addClass('rotate-left').delay(700).fadeOut(1);
		        $('.buddy').find('.status').remove();

		        $(this).append('<div class="status like">Save!</div>');
		        if ($(this).is(':last-child')) {
		            $('.buddy:nth-child(1)').removeClass('rotate-left rotate-right').fadeIn(300);
		        } else {
		            $(this).next().removeClass('rotate-left rotate-right').fadeIn(400);
		        }



		    });

		    $(".buddy").on("swipeleft", function () {
		        $(this).addClass('rotate-right').delay(700).fadeOut(1);
		        $('.buddy').find('.status').remove();
		        $(this).append('<div class="status dislike">Discard!</div>');

		        if ($(this).is(':last-child')) {
		            $('.buddy:nth-child(1)').removeClass('rotate-left rotate-right').fadeIn(300);
		            alert('No more matches. Check back later!');
		        } else {
		            $(this).next().removeClass('rotate-left rotate-right').fadeIn(400);
		        }
		    });



		}
        				

		function onLoad() {
			if(appLib.isPhoneGap()) {
				document.addEventListener("deviceready", onDeviceReady, false);
			} else {
				$(document).ready(function() {
					onDeviceReady();
				});
			}
		}
		
		
		function onUnload() {
			try {
				//## Attempt to unload GA plugin
				analytics.exit(function() { }, function() { });
			} catch(e) { 
			}
		}
	</script>

</head>

<body onload="onLoad();" onunload="onUnload();">	
</body>

</html>
